* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

section,
body,
html {
  width: 100%;
}

button {
  text-align: center;
  border: none;
  color: white;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  border-radius: 30px;
  width: 218px;
  height: 50px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  cursor: pointer;
}
button:hover {
  filter: brightness(1.1);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.7);
}

.logo-header {
  text-align: center;
  padding: 14px 89px 13px 89px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
}
.logo-header img {
  width: 200px;
  height: 34.2px;
  object-fit: contain;
}

.coeur i {
  position: absolute;
  right: 25px;
  bottom: 33px;
  font-size: 24px;
}
.coeur .coeur-2 {
  visibility: hidden;
  position: relative;
  font-size: 12px;
  top: 13px;
  left: 38px;
}
.coeur:hover .coeur-2 {
  background-image: linear-gradient(0deg, #ff79da, #9356dc);
  background-clip: text;
  visibility: visible;
  color: transparent;
  transform: translateY(-9px) scale(2.2);
  transform-origin: bottom;
  transition: all 600ms ease-in-out;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #353535;
  color: #ffffff;
  padding: 22px 25px;
  gap: 16px;
  width: 100%;
  font-size: 16px;
}
.footer h2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-family: "Shrikhand";
}
.footer__contenu {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-weight: 400;
}
.footer__contenu .info-2 {
  gap: 9px;
}
.footer__contenu .info-2 span {
  font-size: 11px;
  margin-top: 4px;
}
.footer__contenu--info {
  display: flex;
  flex-direction: row;
  gap: 11px;
  font-weight: 500;
}
.footer__contenu--info span {
  font-size: 13px;
}

/*creation du loader*/
.loader {
  background-color: rgb(249, 241, 249);
  opacity: 0.9;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  animation: disapper 200ms 3s forwards;
  transform-origin: top;
}
.loader__animation {
  border-top: 10px solid #9356dc;
  border-bottom: 10px solid #9356dc;
  border-right: 10px solid #ff79da;
  border-left: 10px solid #ff79da;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  /*placement de l'animation au millieux de la page*/
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/*animation du loader*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disapper {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
.localisation {
  background-color: #eaeaea;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 50px;
}
.localisation__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  padding: 10px;
}
.localisation span {
  color: #353535;
}
.localisation input {
  border: none;
  background-color: #eaeaea;
  font-size: 16px;
  font-weight: 500;
  width: 115px;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 29px 0 57px 0;
  background-color: #f6f6f6;
}
.presentation__titre {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 12px;
}
.presentation__prg {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  text-align: center;
  padding: 0 0 27px 23px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 26px;
  padding: 48px 0 68px 0;
}
.fonctionnement__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 0 20px 0 32.5px;
}
.fonctionnement__titre {
  font-size: 24px;
  padding-left: 20px;
}
.fonctionnement__choix {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 72px;
  cursor: pointer;
}
.fonctionnement__choix:hover {
  filter: brightness(1.1);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.7);
}
.fonctionnement__choix p {
  margin-left: 10px;
  font-size: 16px;
}
.fonctionnement span {
  border: none;
  text-align: center;
  background-color: #9356dc;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  padding: 3px;
  color: white;
  font-size: 14px;
  position: relative;
  right: 10px;
}
.fonctionnement .fa-mobile-screen-button,
.fonctionnement .fa-list-ul {
  color: #7e7e7e;
  font-size: 19.5px;
}
.fonctionnement .fa-list-ul {
  margin-bottom: 5px;
}
.fonctionnement .fa-store {
  color: #9356dc;
  font-size: 18px;
  margin-bottom: 7px;
}

.restaurant-accueil {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f6f6f6;
  padding: 54px 18px 66px 17px;
  gap: 20px;
  width: 100%;
}
.restaurant-accueil h2 {
  padding-left: 3px;
}
.restaurant-accueil__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 18px;
}
.restaurant-accueil__content a {
  width: 100%;
}
.restaurant-accueil__content .content__titre {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.restaurant-accueil__content p {
  font-weight: 300;
}
.restaurant-accueil__content--card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: none;
  background-color: white;
  border-radius: 15px;
  width: 100%;
  height: 276px;
  position: relative;
}
.restaurant-accueil__content--card .content {
  width: 100%;
}
.restaurant-accueil__content--card img {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.restaurant-accueil__content--card .content {
  font-size: 17px;
  height: 77px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 13px;
}
.restaurant-accueil .nouveau::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
  content: "Nouveau";
  background: #99e2d0;
  color: #008766;
  height: 29px;
  width: 80px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
}
.restaurant-accueil .coeur-2 {
  top: 7px;
  left: -31px;
}

/*****************media query ordinateur************************************/
@media (min-width: 1024px) {
  .logo-header {
    margin-bottom: 0;
    box-shadow: none;
  }
  .logo-header .header {
    padding: 30px 0 32px 17px;
  }
  .logo-header .photo-restaurant img {
    height: 434px;
  }
  .localisation {
    box-shadow: none;
  }
  .localisation__content {
    height: 100%;
  }
  .presentation {
    gap: 21px;
    margin-top: 0;
  }
  .presentation br {
    display: none;
  }
  .presentation__titre {
    font-size: 40px;
    padding-bottom: 8px;
  }
  .presentation__prg {
    padding: 0 0 9px 0;
  }
  .fonctionnement {
    padding: 50px 180px;
    gap: 28px;
  }
  .fonctionnement__content {
    display: flex;
    flex-direction: row;
    gap: 36.5px;
    padding: 0 20px 0 7px;
  }
  .fonctionnement__choix {
    width: 322px;
  }
  .fonctionnement__titre {
    padding-left: 0;
  }
  .restaurant-accueil {
    gap: 28px;
    padding: 30px 180px;
  }
  .restaurant-accueil h2 {
    padding-left: 0;
  }
  .restaurant-accueil__content {
    display: grid;
    grid-template-rows: 251px 251px;
    grid-template-columns: 45% 45%;
    gap: 50px 100px;
  }
  .restaurant-accueil__content--card {
    height: 250px;
  }
  .restaurant-accueil__content--card img {
    height: 174px;
  }
  .container {
    position: relative;
    margin-top: -40px;
    width: 71%;
    margin-left: 14.5%;
    margin-right: 14.5%;
  }
  .container .nom-restaurants {
    justify-content: center;
    padding-top: 51px;
  }
  .container .nom-restaurants .coeur i {
    font-size: 22px;
    right: 300px;
  }
  h3 {
    margin-left: 210px;
  }
  .menu {
    padding: 0 210px;
    width: 100%;
  }
  .button-commander {
    margin-bottom: 40px;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 30px 25px;
    gap: 67px;
  }
  .footer h2 {
    margin: 0 44px 0 23px;
  }
  .footer__contenu {
    display: flex;
    flex-direction: row;
  }
  .footer__contenu .mention-legale {
    margin-left: 36px;
  }
  .footer__contenu a {
    margin-left: 9px;
  }
  .footer__contenu--info {
    display: flex;
    flex-direction: row;
  }
}

/*# sourceMappingURL=accueil.css.map */
