@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

section,
body,
html {
  width: 100%;
}

button {
  text-align: center;
  border: none;
  color: white;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  border-radius: 30px;
  width: 218px;
  height: 50px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  cursor: pointer;
}
button:hover {
  filter: brightness(1.1);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.7);
}

.logo-header {
  text-align: center;
  padding: 14px 0 13px 0;
  margin-bottom: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.logo-header img {
  width: 162px;
  height: 44px;
}

.coeur {
  width: 17px;
  height: 17px;
}
.coeur i {
  position: absolute;
  right: 33px;
}
.coeur .coeur-2 {
  visibility: hidden;
}
.coeur:hover .coeur-2 {
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  background-clip: text;
  visibility: visible;
  color: transparent;
  transform: scale(1.2);
  transition: scale 0ms ease-in;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #353535;
  color: white;
  padding: 22px 25px;
  gap: 16px;
  width: 100%;
}
.footer h1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: white;
  font-family: "Shrikhand";
}
.footer__contenu {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__contenu--info {
  display: flex;
  flex-direction: row;
  gap: 11px;
}

.logo-header {
  box-shadow: none;
}
.logo-header .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 17px;
  position: relative;
}
.logo-header .header a {
  font-size: 30px;
  color: #353535;
  position: absolute;
  left: 20px;
}
.logo-header .header img {
  padding: 0;
  object-fit: contain;
}

.photo-restaurant img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.container {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: -60px;
}
.container h1 {
  font-family: "Shrikhand";
  font-size: 28px;
}
.container .nom-restaurants {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 17px 0 17px;
  position: relative;
}
.container .nom-restaurants .coeur-1,
.container .nom-restaurants .coeur-2 {
  font-size: 22px;
  bottom: 10px;
}

h2 {
  font-size: 16px;
  font-weight: 300;
  margin: 0 13px;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
}

.ctn-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.ctn-menu .ent-pls-dsrt h2 {
  margin-bottom: 12px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 13px;
  gap: 12px;
}
.menu-et-check {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.menu-et-check .check {
  width: 50px;
  height: 100%;
  background-color: #99E2D0;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  right: -50px;
  opacity: 1;
  transition: 0.1s ease-in-out;
}
.menu-et-check:hover .check {
  right: 0;
}
.menu-et-check:hover .menu-prix {
  transform: translateX(-50px);
}
.menu__plats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  border: none;
  background-color: white;
  padding: 15px;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.menu--nom :first-child {
  font-size: 18px;
  font-weight: 500;
}
.menu--nom {
  font-size: 15px;
}
.menu-prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  transition: 0.1s ease-in-out;
}

.entrées {
  animation: appear 1s forwards ease-in-out;
  transform: translate(0, 0) 3s;
}

.plats {
  animation: appear 3s forwards ease-in-out;
  transform: translate(0, 0) 5s;
}

.desserts {
  animation: appear 5s forwards ease-in-out;
  transform: translate(0, 0) 7s;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translate(100px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.button-commander {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

footer {
  margin-top: 0;
}

/*****************media query tablette************************************/
@media (min-width: 768px) {
  .container {
    margin-top: -110px;
    padding: 30px;
  }
  .fonctionnement {
    padding: 48px 50px 68px 50px;
  }
  .restaurant-accueil {
    padding: 54px 50px;
  }
}
/*****************media query ordinateur************************************/
@media (min-width: 1024px) {
  .presentation {
    gap: 25px;
  }
  .presentation br {
    display: none;
  }
  .fonctionnement {
    padding: 50px 180px;
  }
  .fonctionnement__content {
    display: flex;
    flex-direction: row;
  }
  .fonctionnement__choix {
    width: 322px;
  }
  .restaurant-accueil {
    gap: 28px;
    padding: 30px 180px;
  }
  .restaurant-accueil__content {
    display: grid;
    grid-template-rows: 251px 251px;
    grid-template-columns: 40% 40%;
    gap: 50px 100px;
  }
  .container {
    position: relative;
    margin-top: -60px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .container .nom-restaurants {
    justify-content: center;
  }
  .container .nom-restaurants .coeur-1,
  .container .nom-restaurants .coeur-2 {
    margin-right: 308px;
    font-size: 22px;
  }
  .coeur:hover .coeur-2 {
    background-image: linear-gradient(0deg, #9356DC, #FF79DA);
    background-clip: text;
    visibility: visible;
    color: transparent;
    transform: scale(1.2);
    transition: scale 200ms ease-in;
  }
  h2 {
    margin: 0 223px;
  }
  .menu {
    padding: 0 210px;
    width: 100%;
  }
  .button-commander {
    margin-bottom: 40px;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 30px 25px;
  }
  .footer h1 {
    margin-left: 23px;
  }
  .footer__contenu {
    display: flex;
    flex-direction: row;
  }
  .footer__contenu .mention-legale {
    margin-left: 16px;
  }
  .footer__contenu--info {
    display: flex;
    flex-direction: row;
  }
}

/*# sourceMappingURL=restaurants.css.map */
