@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
}

a {
  color: inherit;
  text-decoration: none;
}

section,
body,
html {
  width: 100%;
}

button {
  text-align: center;
  border: none;
  color: white;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  border-radius: 30px;
  width: 218px;
  height: 50px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s all;
}
button:hover {
  filter: brightness(1.1);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.7);
}

.logo-header {
  text-align: center;
  padding: 14px 89px 13px 89px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
}
.logo-header img {
  width: 200px;
  height: 34.2px;
  object-fit: contain;
}

.coeur {
  position: relative;
  right: 6px;
  bottom: 6px;
  font-size: 24px;
}

.coeur {
  width: 24px;
  height: 24px;
}
.coeur .coeur-2,
.coeur .coeur-1 {
  position: absolute;
  right: 23px;
  bottom: -3px;
  cursor: pointer;
}
.coeur .coeur-2 {
  display: none;
  background-image: linear-gradient(0deg, #ff79da, #9356dc);
  background-clip: text;
  color: transparent;
}
.coeur:hover .coeur-1 {
  display: none;
}
.coeur:hover .coeur-2 {
  display: block;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #353535;
  color: #ffffff;
  padding: 22px 25px;
  gap: 16px;
  width: 100%;
  font-size: 16px;
}
.footer h2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-family: "Shrikhand";
}
.footer__contenu {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-weight: 400;
}
.footer__contenu .info-2 {
  gap: 9px;
}
.footer__contenu .info-2 span {
  font-size: 11px;
  margin-top: 4px;
}
.footer__contenu--info {
  display: flex;
  flex-direction: row;
  gap: 11px;
  font-weight: 500;
}
.footer__contenu--info span {
  font-size: 13px;
}

.logo-header {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.logo-header .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 17px;
  position: relative;
  padding: 21px 0 13px 17px;
}
.logo-header .header a {
  font-size: 23px;
  color: #353535;
  position: absolute;
  left: 20px;
  bottom: 21px;
}
.logo-header .header img {
  padding: 0;
  object-fit: contain;
}

.photo-restaurant img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.container {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: -41px;
}
.container h1 {
  font-family: "Shrikhand";
  font-size: 28px;
}
.container .nom-restaurants {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 17px 0 17px;
  position: relative;
  gap: 20px;
}
.container .nom-restaurants div.coeur {
  right: initial;
  bottom: initial;
}
.container .nom-restaurants div.coeur .coeur-1,
.container .nom-restaurants div.coeur .coeur-2 {
  right: initial;
  bottom: initial;
  position: relative;
}
.container .menu-prix {
  font-size: 15px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 300;
  margin-left: 13px;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  padding-bottom: 7px;
}

.ctn-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.ctn-menu .ent-pls-dsrt h3 {
  margin-bottom: 12px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 13px;
  gap: 12px;
}
.menu-et-check {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.menu-et-check .menu--nom {
  width: 75%;
}
.menu-et-check .menu--nom h4,
.menu-et-check p {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}
.menu-et-check .check {
  width: 57px;
  height: 100%;
  background-color: #99e2d0;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  right: -57px;
  opacity: 1;
  transition: 0.1s ease-in-out;
}
.menu-et-check .check i {
  border-radius: 24px;
  background-color: #ffffff;
  padding: 2px;
}
.menu-et-check .check .fa-check {
  color: #99e2d0;
}
.menu-et-check:hover .check {
  right: 0;
}
.menu-et-check:hover .menu-prix {
  transform: translateX(-57px);
}
.menu-et-check:hover .menu--nom h4,
.menu-et-check:hover p {
  padding-right: 25px;
}
.menu__plats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  border: none;
  background-color: white;
  padding: 15px;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.menu--nom :first-child {
  font-size: 18px;
  font-weight: 500;
}
.menu--nom {
  font-size: 15px;
}
.menu-prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  transition: 0.1s ease-in-out;
}

.entrées {
  animation: appear 1s forwards ease-in-out;
  transform: translate(0, 0) 3s;
}

.plats {
  animation: appear 3s forwards ease-in-out;
  transform: translate(0, 0) 5s;
}

.desserts {
  animation: appear 5s forwards ease-in-out;
  transform: translate(0, 0) 7s;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translate(100px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.button-commander {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

footer {
  margin-top: 0;
}

/*****************media query tablette************************************/
@media (min-width: 768px) {
  .fonctionnement {
    padding: 48px 50px 68px 50px;
  }
  .restaurant-accueil {
    padding: 54px 50px;
  }
  .ctn-menu {
    padding: 0 50px 0 50px;
  }
}
/*****************media query ordinateur************************************/
@media (min-width: 1024px) {
  .logo-header {
    margin-bottom: 0;
    box-shadow: none;
  }
  .logo-header .header {
    padding: 30px 0 32px 17px;
  }
  .logo-header .header a {
    font-size: 21px;
    bottom: 34px;
  }
  .logo-header .photo-restaurant img {
    height: 350px;
  }
  .localisation {
    box-shadow: none;
  }
  .localisation__content {
    height: 100%;
  }
  .presentation {
    gap: 21px;
    margin-top: 0;
  }
  .presentation br {
    display: none;
  }
  .presentation__titre {
    font-size: 40px;
    padding-bottom: 8px;
  }
  .presentation__prg {
    padding: 0 0 9px 0;
  }
  .fonctionnement {
    padding: 50px 45px;
    gap: 28px;
  }
  .fonctionnement__content {
    display: flex;
    flex-direction: row;
    gap: 36.5px;
    padding: 0 20px 0 10px;
  }
  .fonctionnement__choix {
    width: 322px;
  }
  .fonctionnement__titre {
    padding-left: 0;
  }
  .restaurant-accueil {
    gap: 28px;
    padding: 30px 45px;
  }
  .restaurant-accueil h2 {
    padding-left: 0;
  }
  .restaurant-accueil__content {
    display: grid;
    grid-template-rows: 251px 251px;
    grid-template-columns: 44.5% 44.5%;
    gap: 50px 100px;
  }
  .restaurant-accueil__content--card {
    height: 250px;
  }
  .restaurant-accueil__content--card img {
    height: 174px;
  }
  .container {
    position: relative;
    margin-top: -40px;
    width: 71%;
    margin-left: 14.5%;
    margin-right: 14.5%;
    padding: 0;
  }
  .container .ctn-menu {
    padding: 0;
  }
  .container .nom-restaurants {
    justify-content: center;
    padding-top: 51px;
  }
  .container .nom-restaurants .coeur {
    right: -23px;
  }
  h3 {
    margin-left: 139px;
  }
  .menu {
    padding: 0 139px;
    width: 100%;
  }
  .button-commander {
    margin-bottom: 40px;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 30px 25px;
    gap: 67px;
  }
  .footer h2 {
    margin-left: 23px;
  }
  .footer__contenu {
    display: flex;
    flex-direction: row;
  }
  .footer__contenu .mention-legale {
    margin-left: 36px;
  }
  .footer__contenu a {
    margin-left: 9px;
  }
  .footer__contenu--info {
    display: flex;
    flex-direction: row;
  }
}

/*# sourceMappingURL=restaurants.css.map */
