$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$linearGradient: linear-gradient(0deg, $couleur-primaire, $couleur-secondaire);
$couleur-localisation: #EAEAEA;
$couleur-grey: #353535;
$ff-primaire: 'Roboto', sans-serif;
$ff-secondaire: 'Shrikhand';
$box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$fs-h1: 24px;
$background-restaurants: #F6F6F6;