* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

section, body, html {
  width: 100%;
}

button {
  text-align: center;
  border: none;
  color: white;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  border-radius: 30px;
  width: 218px;
  height: 50px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  cursor: pointer;
}
button:hover {
  filter: brightness(1.1);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.7);
}

.logo-header {
  text-align: center;
  padding: 14px 0 13px 0;
  margin-bottom: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.logo-header img {
  width: 162px;
  height: 44px;
}

.coeur {
  font-size: 22px;
}
.coeur i {
  position: absolute;
  right: 10px;
}
.coeur .coeur-2 {
  visibility: hidden;
}
.coeur:active .coeur-2 {
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  visibility: visible;
  color: transparent;
  animation-fill-mode: forwards;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #353535;
  color: white;
  padding: 22px 25px;
  gap: 16px;
  width: 100%;
}
.footer h1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: white;
  font-family: "Shrikhand";
}
.footer__contenu {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__contenu--info {
  display: flex;
  flex-direction: row;
  gap: 11px;
}

/*creation du loader*/
.loader {
  background-color: rgb(249, 241, 249);
  opacity: 0.9;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  animation: disapper 200ms 3s forwards;
  transform-origin: top;
}
.loader__animation {
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #9356DC;
  border-right: 10px solid #FF79DA;
  border-left: 10px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  /*placement de l'animation au millieux de la page*/
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/*animation du loader*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disapper {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
.localisation {
  background-color: #EAEAEA;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
}
.localisation__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  padding: 10px;
}
.localisation input {
  border: none;
  background-color: #EAEAEA;
  font-size: 17px;
  width: 112px;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 30px 0 60px 0;
}
.presentation__titre {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.presentation__prg {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  text-align: center;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 26px;
  margin-bottom: 68px;
}
.fonctionnement__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 0 20px 0 32px;
}
.fonctionnement__titre {
  font-size: 24px;
}
.fonctionnement__choix {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: #F6F6F6;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 72px;
  cursor: pointer;
}
.fonctionnement__choix:hover {
  filter: brightness(1.1);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.7);
}
.fonctionnement__choix i {
  font-size: 30px;
}
.fonctionnement__choix p {
  margin-left: 10px;
  font-size: 18px;
}
.fonctionnement span {
  border: none;
  text-align: center;
  background-color: #9356DC;
  width: 30px;
  border-radius: 30px;
  padding: 5px;
  color: white;
  position: relative;
  right: 10px;
}
.fonctionnement .fa-mobile-screen-button, .fonctionnement .fa-list-ul {
  color: #7E7E7E;
}
.fonctionnement .fa-store {
  color: #9356DC;
}

.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #F6F6F6;
  padding: 66px 18px;
  gap: 15px;
  width: 100%;
}
.restaurant__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 16px;
}
.restaurant__content a {
  width: 100%;
}
.restaurant__content--card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 7px;
  border: none;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 251px;
  position: relative;
}
.restaurant__content--card img {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant__content--card .container {
  font-size: 17px;
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurant .nouveau::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 20px;
  content: "Nouveau";
  background: #99E2D0;
  color: #008766;
  height: 29px;
  width: 80px;
}

@media (min-widht: 767) {
  .container {
    margin-top: -110px;
    padding: 30px;
  }
}
/*****************media query ordinateur************************************/
@media (min-width: 1024px) {
  .presentation {
    margin: 30px 0;
    gap: 25px;
  }
  .presentation br {
    display: none;
  }
  .fonctionnement {
    padding: 50px 180px;
    margin-bottom: 0;
  }
  .fonctionnement__content {
    display: flex;
    flex-direction: row;
  }
  .fonctionnement__choix {
    width: 322px;
  }
  .restaurant {
    gap: 28px;
    padding: 30px 180px;
  }
  .restaurant__content {
    display: grid;
    grid-template-rows: 251px 251px;
    grid-template-columns: 446px 446px;
    gap: 50px 100px;
  }
  .logo-header .header {
    justify-content: flex-start;
    gap: 572px;
  }
  .container {
    position: relative;
    margin-top: -60px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .container .nom-restaurants {
    justify-content: center;
  }
  .container .nom-restaurants .coeur-1, .container .nom-restaurants .coeur-2 {
    margin-right: 348px;
    font-size: 22px;
  }
  h2 {
    margin: 0 223px;
  }
  .menu {
    padding: 0 210px;
    width: 100%;
  }
  .button-commander {
    margin-bottom: 40px;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 30px 25px;
  }
  .footer h1 {
    margin-left: 23px;
  }
  .footer__contenu {
    display: flex;
    flex-direction: row;
  }
  .footer__contenu .mention-legale {
    margin-left: 16px;
  }
  .footer__contenu--info {
    display: flex;
    flex-direction: row;
  }
}/*# sourceMappingURL=accueil.css.map */