* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $ff-roboto;
}

a {
  color: inherit;
  text-decoration: none;
}

section,
body,
html {
  width: $width;
}

button {
  text-align: center;
  border: none;
  color: white;
  background: $linearGradient;
  border-radius: 30px;
  width: 218px;
  height: 50px;
  box-shadow: $box-shadow;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    filter: $brightness;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.7);
  }
}

.logo-header {
  text-align: center;
  padding: 14px 89px 13px 89px;
  margin-bottom: 10px;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: center;

  & img {
    width: 200px;
    height: 34.2px;
    object-fit: contain;
  }
}

.coeur {
  i {
    position: absolute;
    right: 25px;
    bottom: 33px;
    font-size: 24px;
  }

  .coeur-2 {
    visibility: hidden;
  }

  &:hover .coeur-2 {
    background-image: $coeurLinearGradient;
    background-clip: text;
    visibility: visible;
    color: transparent;
    transform: scale(1.2);
    transition: scale 0ms ease-in;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $couleur-grey;
  color: $white;
  padding: 22px 25px;
  gap: 16px;
  width: $width;
  font-size: 16px;

  & h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: $font-weight-400;
    color: $white;
    font-family: $ff-shrikhand;
  }

  &__contenu {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-weight: $font-weight-400;

    & .info-2 {
      gap: 9px;
      & span {
        font-size: 11px;
        margin-top: 4px;
      }
    }
  }
  &__contenu--info {
    display: flex;
    flex-direction: row;
    gap: 11px;
    font-weight: $font-weight-500;
    & span {
      font-size: 13px;
    }
  }
}
