/*****************media query tablette************************************/
@media (min-width: 768px) {
  .container {
    margin-top: -110px;
    padding: 30px;
  }

  .fonctionnement {
    padding: 48px 50px 68px 50px;
  }
  .restaurant-accueil {
    padding: 54px 50px;
  }
}

/*****************media query ordinateur************************************/
@media (min-width: 1024px) {
  .logo-header {
    margin-bottom: 0;
    box-shadow: none;
    .header {
      padding: 30px 0 32px 17px;
    }
    .photo-restaurant img {
      height: 434px;
    }
  }
  .localisation {
    box-shadow: none;
    &__content {
      height: 100%;
    }
  }
  .presentation {
    gap: 21px;
    margin-top: 0;

    & br {
      display: none;
    }
    &__titre {
      font-size: 40px;
      padding-bottom: 8px;
    }
    &__prg {
      padding: 0 0 9px 0;
    }
  }

  .fonctionnement {
    padding: 50px 180px;
    gap: 28px;

    &__content {
      display: flex;
      flex-direction: row;
      gap: 36.5px;
    }

    &__choix {
      width: 322px;
    }
  }

  .restaurant-accueil {
    gap: 28px;
    padding: 30px 180px;

    &__content {
      display: grid;
      grid-template-rows: 251px 251px;
      grid-template-columns: 45% 45%;
      gap: 50px 100px;
    }
    &__content--card {
      height: 250px;
    }
    &__content--card img {
      height: 174px;
    }
  }

  .container {
    position: relative;
    margin-top: -40px;
    width: 71%;
    margin-left: 14.5%;
    margin-right: 14.5%;

    & .nom-restaurants {
      justify-content: center;
      padding-top: 51px;

      & .coeur i {
        // margin-right: 308px;
        font-size: 22px;
        right: 274px;
      }
    }
  }

  .coeur {
    &:hover .coeur-2 {
      background-image: $linearGradient;
      background-clip: text;
      visibility: visible;
      color: transparent;
      transform: scale(1.2);
      transition: scale 200ms ease-in;
    }
  }

  h2 {
    margin-left: 210px;
  }

  .menu {
    padding: 0 210px;
    width: 100%;
  }

  .button-commander {
    margin-bottom: 40px;
  }

  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 30px 25px;
    gap: 67px;

    & h1 {
      margin: 0 44px 0 23px;
    }

    &__contenu {
      display: flex;
      flex-direction: row;

      & .mention-legale {
        margin-left: 36px;
      }
      & .contact {
        margin-left: 9px;
      }

      &--info {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
