@import 'variables';

/*****************media query tablette************************************/
@media (min-width: 768px) {
  .fonctionnement {
    padding: 48px 50px 68px 50px;
  }
  .restaurant-accueil {
    padding: 54px 50px;
  }
  .ctn-menu {
    padding: 0 50px 0 50px;
  }
}

/*****************media query ordinateur************************************/

@media (min-width: 1024px) {
  .logo-header {
    margin-bottom: 0;
    box-shadow: none;
    .header {
      padding: 30px 0 32px 17px;
      a {
        font-size: 21px;

        bottom: 34px;
      }
    }
    .photo-restaurant img {
      height: 350px;
    }
  }

  .localisation {
    box-shadow: none;
    &__content {
      height: 100%;
    }
  }
  .presentation {
    gap: 21px;
    margin-top: 0;

    br {
      display: none;
    }
    &__titre {
      font-size: 40px;
      padding-bottom: 8px;
    }
    &__prg {
      padding: 0 0 9px 0;
    }
  }

  .fonctionnement {
    padding: 50px 45px;
    gap: 28px;

    &__content {
      display: flex;
      flex-direction: row;
      gap: 36.5px;
      padding: 0 20px 0 10px;
    }

    &__choix {
      width: 322px;
    }

    &__titre {
      padding-left: 0;
    }
  }

  .restaurant-accueil {
    gap: 28px;
    padding: 30px 45px;
    h2 {
      padding-left: 0;
    }

    &__content {
      display: grid;
      grid-template-rows: 251px 251px;
      grid-template-columns: 44.5% 44.5%;
      gap: 50px 100px;
    }
    &__content--card {
      height: 250px;
    }
    &__content--card img {
      height: 174px;
    }
  }

  .container {
    position: relative;
    margin-top: -40px;
    width: 71%;
    margin-left: 14.5%;
    margin-right: 14.5%;
    padding: 0;
    .ctn-menu {
      padding: 0;
    }
    .nom-restaurants {
      justify-content: center;
      padding-top: 51px;
      .coeur {
        right: -23px;
      }
    }
  }

  h3 {
    margin-left: 139px;
  }

  .menu {
    padding: 0 139px;
    width: $width-100;
  }

  .button-commander {
    margin-bottom: 40px;
  }

  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 30px 25px;
    gap: 67px;

    h2 {
      margin-left: 23px;
    }

    &__contenu {
      display: flex;
      flex-direction: row;

      .mention-legale {
        margin-left: 36px;
      }
      a {
        margin-left: 9px;
      }

      &--info {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
