@import 'variables';
@import 'global';

.logo-header {
  box-shadow: none;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 17px;
    position: relative;

    a {
      font-size: 30px;
      color: #353535;
      position: absolute;
      left: 20px;
    }

    img {
      padding: 0;
      object-fit: contain;
    }
  }
}

.photo-restaurant img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.container {
  background-color: $background-restaurants;
  border-radius: 40px 40px 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: -60px;

  h1 {
    font-family: $ff-secondaire;
    font-size: 28px;
  }

  .nom-restaurants {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 17px 0 17px;
    position: relative;

    .coeur-1,
    .coeur-2 {
      font-size: 22px;
      bottom: 10px;
    }
  }
}

h2 {
  font-size: 16px;
  font-weight: 300;
  margin: 0 13px;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
}

.ctn-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .ent-pls-dsrt {
    h2 {
      margin-bottom: 12px;
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 13px;
  gap: 12px;

  &-et-check {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: $box-shadow-restaurant;
    border-radius: 15px;

    .check {
      width: 50px;
      height: 100%;
      background-color: $green-check;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      position: absolute;
      right: -50px;
      opacity: 1;
      transition: .1s ease-in-out;
    }


    &:hover  {
      .check {
        right: 0;
      }

      .menu-prix {
        transform: translateX(-50px);
      }
    }
  }

  &__plats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
    border: none;
    background-color: white;
    padding: 15px;
    width: 100%;
    position: relative;
    cursor: pointer;
  }

  &--nom :first-child {
    font-size: 18px;
    font-weight: 500;
  }

  &--nom {
    font-size: 15px;
  }

  &-prix {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    transition: .1s ease-in-out;
  }
}

.entrées {
  animation: appear 1s forwards ease-in-out;
  transform: translate(0, 0) 3s;
}

.plats {
  animation: appear 3s forwards ease-in-out;
  transform: translate(0, 0) 5s;
}

.desserts {
  animation: appear 5s forwards ease-in-out;
  transform: translate(0, 0) 7s;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translate(100px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.button-commander {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

footer {
  margin-top: 0;
}
@import 'responsive';
