@import 'variables';
@import 'global';

.logo-header {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 21px 0 13px 17px;

    a {
      font-size: 23px;
      color: $couleur-grey;
      position: absolute;
      left: 20px;
      bottom: 21px;
    }

    img {
      padding: 0;
      object-fit: contain;
    }
  }
}

.photo-restaurant img {
  width: $width-100;
  height: 275px;
  object-fit: cover;
}

.container {
  background-color: $background-restaurants;
  border-radius: 40px 40px 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: -41px;

  h1 {
    font-family: $ff-shrikhand;
    font-size: 28px;
  }

  .nom-restaurants {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 17px 0 17px;
    position: relative;
    gap: 20px;

    div.coeur {
      right: initial;
      bottom: initial;

      .coeur-1,
      .coeur-2 {
        right: initial;
        bottom: initial;
        position: relative;
      }
    }
  }

  .menu-prix {
    font-size: 15px;
    font-weight: 700;
  }
}

h3 {
  font-size: 16px;
  font-weight: $font-weight-300;
  margin-left: 13px;
  border-bottom: 3px solid $green-background;
  width: 40px;
  padding-bottom: 7px;
}

.ctn-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .ent-pls-dsrt {
    h3 {
      margin-bottom: 12px;
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 13px;
  gap: 12px;

  &-et-check {
    display: flex;
    flex-direction: row;
    width: $width-100;
    position: relative;
    overflow: hidden;
    box-shadow: $box-shadow-restaurant;
    border-radius: 15px;

    .menu--nom {
      width: 75%;
    }

    .menu--nom h4,
    p {
      text-wrap: nowrap;
      text-overflow: ellipsis;
      display: block;
      overflow: hidden;
    }

    .check {
      width: 57px;
      height: 100%;
      background-color: $green-background;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      position: absolute;
      right: -57px;
      opacity: 1;
      transition: 0.1s ease-in-out;

      i {
        border-radius: 24px;
        background-color: $white;
        padding: 2px;
      }

      .fa-check {
        color: $green-background;
      }
    }

    &:hover {
      .check {
        right: 0;
      }

      .menu-prix {
        transform: translateX(-57px);
      }

      .menu--nom h4,
      p {
        padding-right: 25px;
      }
    }
  }

  &__plats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
    border: none;
    background-color: white;
    padding: 15px;
    width: $width-100;
    position: relative;
    cursor: pointer;
  }

  &--nom :first-child {
    font-size: 18px;
    font-weight: $font-weight-500;
  }

  &--nom {
    font-size: 15px;
  }

  &-prix {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    transition: 0.1s ease-in-out;
  }
}

.entrées {
  animation: appear 1s forwards ease-in-out;
  transform: translate(0, 0) 3s;
}

.plats {
  animation: appear 3s forwards ease-in-out;
  transform: translate(0, 0) 5s;
}

.desserts {
  animation: appear 5s forwards ease-in-out;
  transform: translate(0, 0) 7s;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translate(100px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.button-commander {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

footer {
  margin-top: 0;
}

@import 'responsive';
